


/* Nav button */
.nav_btn {
  background-color: #343a40;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* Nav button on hover */
.nav_btn:hover {background-color: #c1c1c1;}
