.col-4{
  text-align: left !important;
}
#passwordConfirm::-webkit-input-placeholder, #password::-webkit-input-placeholder{
  font-size: 12px;
}
.form_buttons{
  width: 100%;
}

tbody tr :nth-child(6){
display: none;
}

tr{
  cursor: pointer;
}
#insert{
  margin-top: 5vh;
  margin-left: 25vh;
}
#insertTrainModal input::-webkit-input-placeholder{
  font-size: 10px;
}


.running{
  display: flex;
  flex-wrap:wrap;
}
.running div{
  margin: 4px;
}
.running div label{
  font-size: 12px;
  cursor: pointer;
}
.running div label input[type="checkbox"]{
  display: none;
}
.running div label span{
  position: relative;
  display: inline-block;
  background: #FF3333;
  border-radius:100px;
  padding: 5px 10px;
  transition: 0.4s;
  user-select: none;
  overflow: hidden;
}
.running div label input[type="checkbox"]:checked ~ span{
  background: #4CE03C;
  color: white;
}
