.col-4{
  text-align: left !important;
}
#passwordConfirm::-webkit-input-placeholder, #password::-webkit-input-placeholder{
  font-size: 12px;
}
.form_buttons{
  width: 100%;
}
tr{
  cursor: pointer;
}
#insert{
  margin-top: 5vh;
  margin-left: 25vh;
}
#insertTrainModal input::-webkit-input-placeholder{
  font-size: 10px;
}
